%h1 House Listing

= form_tag houses_path, :method => :get, :id => 'houses_form' do
  = hidden_field_tag "address_sort", true if @address_header
  = hidden_field_tag "rent_sort", true if @rent_header
  = hidden_field_tag "beds_sort", true if @beds_header

%table#houses{:border => 2}
  %thead
    %tr
      %th{:class => @address_header}= link_to 'Address', houses_path(:sort => 'address'), :id => 'address_header'
      %th{:class => @rent_header}= link_to 'Rent', houses_path(:sort => 'rent'), :id => 'rent_header'
      %th{:class => @beds_header}= link_to 'Beds', houses_path(:sort => 'beds'), :id => 'beds_header'

  %tbody
    - @houses.each do |house|
      %tr
        %td= house.address
        %td= house.rent
        %td= house.beds
        %td= link_to 'Show', house
        %td= link_to 'Edit', edit_house_path(house)
        %td= link_to 'Destroy', house, data: { confirm: 'Are you sure?', :method => "delete"}
%br
%br
= link_to 'Add new House', new_house_path
