%h1 Edit Existing Store

= form_tag carrental_path(@carrental), :method => :put do

  = label :carrental, :name, 'Name'
  = text_field :carrental, 'name'
  %br 
  %br
  = label :carrental, :review, 'Reviews'
  = text_field :carrental, 'review'
  %br
  %br
  = label :carrental, :address, 'Address'
  = text_field :carrental, 'address'
  %br
  %br
  = label :carrental, :website, 'Website'
  = text_field :carrental, 'website'
  %br
  %br
  = submit_tag 'Update Car Rental Info'