%h1 Create New Airport

= form_tag airports_path do

  = label :airport, :name, 'Name'
  = text_field :airport, 'name'
  %br
  %br
  = label :airport, :review, 'Reviews'
  = text_field :airport, 'review'
  %br
  %br
  = label :airport, :address, 'Address'
  = text_field :airport, 'address'
  %br
  %br
  = label :airport, :website, 'Website'
  = text_field :airport, 'website'
  %br
  %br
  = submit_tag 'Save Changes'